<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="token" value="{token}" />
		<add key ="admin_id" value="{admin_id}" />
		<add key ="guild_id" value="{guild_id}" />
		<add key ="application_id" value="{application_id}" />
		<add key ="discordapi_version" value="10" />
	</appSettings>
</configuration>